@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
    width: 0! important
}